#+
#now_playing
#-

Description=Now Playing for RDS
After=network-online.target

[Service]
Type=simple
ExecStart=/root/now_playing/now_playing_rds.py --logger=debug
Restart=always
RestartSec=60
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
